# Frontend Environment Variables
VITE_API_URL=https://rjpaintsinteriors.in/api

# Backend Environment Variables
# PORT=5000
# DATABASE_URL=mysql://rj_admin:rj_paints_dev_password@localhost:3306/rj_paints_db
# JWT_SECRET=super_secret_jwt_key_rj_paints_kovilpatti


PORT=5000
DATABASE_URL=mysql://rj_admin:rj_paints_dev_password@localhost:3306/rj_paints_db
JWT_SECRET=super_secret_jwt_key_rj_paints_kovilpatti